{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Legal Advice Demo</title>
    <link rel="stylesheet" href="{% static 'legal_advice_builder.css' %}">
    <script src="{% static 'legal_advice_builder.js' %}"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <div class="container-fluid">
            {% block navbar %}{% endblock %}
        </div>
    </nav>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} rounded-0 alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>
    {% block extra_scripts %}{% endblock %}
</body>

</html>
