<input type="hidden" name="{{ widget.name }}"{% if conditions != None %} value="{{ conditions|stringformat:'s' }}"{% endif %}{% include "django/forms/widgets/attrs.html" %}>

<div id="conditions">
    <conditions-field
        question="{{ question_id }}"
        name="{{ widget.name }}"
        defaultnext="{{ default_next }}"
        :initial="{{ initial }}"
        :ifoptions="{{ if_options }}"
        :options="{{ options }}"
        :text="{{ text }}"
        :questions="{{ questions }}"
        :thenoptions="{{ then_options }}"
        :periodoptions="{{ period_options }}"
        questiontype="{{ question_type }}"
    ></conditions-field>
</div>
