{% extends 'legal_advice_builder/admin/law_case_detail.html' %}
{% load static i18n crispy_forms_tags %}

{% block extra_scripts %}
<script src="{% static 'placeholder_list.js' %}"></script>
<script src="{% static 'document_field.js' %}"></script>
<!-- <script src="{% static 'js/snippets/document_form.js' %}"></script> -->
{% endblock %}

{% block main_content %}
    <div class="row">

        <div class="col">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end py-3">
                <a href="{% url 'legal_advice_builder:document-detail' lawcase.id %}" class="btn btn-sm btn-primary" type="button">{% trans 'view preview' %}</a>
            </div>
            <div class="mt-3 border p-3">
                <div id="app">
                    {% csrf_token %}
                    {{ document_form | safe }}
                </div>

                <!-- <form method="post" class="clearfix mt-5 border p-3">
                    <div class="mb-3 border-bottom pb-2">
                        <div id="app">
                        {% csrf_token %}
                        {{ document_field_formset.media }}
                        {{ document_field_formset.management_form }}
                        {{ document_form | safe }}
                        </div>
                    </div>
                    <div class="text-end mt-3">
                        <input class="btn btn-primary btn-lg pull-right" type="submit" value="{% trans 'Save' %}" />
                    </div>
                </form> -->
            </div>
        </div>

        <div class="col">
            <div id="placeholders">
                <placeholders
                    :variables="{{ variables }}"
                ></placeholders>
            </div>
        </div>
    </div>

{% endblock %}