{% extends 'legal_advice_builder/admin/law_case_detail.html' %}
{% load i18n %}

{% block main_content %}
<div class="row">
    <div class="col-8">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end py-3">
            <a href="{% url  'legal_advice_builder:document-update' lawcase.id %}" class="btn btn-sm btn-primary" type="button">{% trans 'edit document template' %}</a>
        </div>
        <div class="border p-3">
            {% autoescape off %}
            {{ document.template_with_sample_answers }}
            {% endautoescape %}
        </div>
    </div>


    <div class="col-4">
        <h2>{% trans 'Test Answers' %}</h2>
        <form method="post" class="clearfix">
            {% csrf_token %}
            {{ questions_formset.management_form }}
            <div class="accordion" id="answerAccordion">
                {% for form in questions_formset %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-heading{{ forloop.counter }}">
                        <button class="accordion-button bg-white text-body" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="panelsStayOpen-collapse{{ forloop.counter }}">
                            {{ form.visible_fields.0.label }}
                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapse{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading{{ forloop.counter }}">
                        <div class="accordion-body">
                            {% include 'legal_advice_builder/admin/form.html' with form=form %}
                        </div>
                      </div>
                </div>
                {% endfor %}
            </div>
            <div class="text-end mt-3">
                <input class="btn btn-primary btn-sm pull-right" type="submit" value="{% trans 'Save' %}" />
            </div>
        </form>
    </div>

</div>
{% endblock %}