{% extends 'legal_advice_builder/admin/law_case_detail.html' %}
{% load static i18n %}

{% block extra_scripts %}
<script src="{% static 'placeholder_list.js' %}"></script>
<script src="{% static 'document_field.js' %}"></script>
<script src="{% static 'tinymce/tinymce.min.js' %}"></script>
{% endblock %}

{% block main_content %}
    <div class="row">
       <div class="col-8">
            <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-end py-3">
                <a href="{% url 'legal_advice_builder:document-detail' lawcase.id %}" class="btn btn-sm btn-primary" type="button">{% trans 'view preview' %}</a>
            </div> -->
            <div class="border p-3">
                <div id="app">
                    {% csrf_token %}
                    <document-field-list
                        :document='{{ document.id }}'
                        :initial='{{ document.fields_dict }}'
                        :questions='{{ document.options_questions }}'
                        >
                    </document-field-list>
                </div>
            </div>
        </div>

        <div class="col-4">
            <h2>{% trans 'Placeholders' %}</h2>
            <div class="alert alert-light mb-0" role="alert">
                {% trans 'Click on '%} <i class="bi bi-clipboard"></i> {% trans 'to copy placeholder.'%}
              </div>
            <div class="sticky-top">
                <div id="placeholders" class="sticky-top pt-3">
                    <placeholders
                        :placeholders="{{ placeholders }}"
                    ></placeholders>
                </div>
            </div>
        </div>
    </div>
{% endblock %}