{% extends 'legal_advice_builder/admin/base.html' %}
{% load i18n crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-8">
        {% for law_case in object_list %}
        <div class="card">
            <div class="card-header text-end">
                {{ law_case.document.document_type }}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ law_case.title }}</h5>
                <p class="card-text">{{ law_case.description }}</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a href="{% url 'law-case-detail' law_case.id %}" class="btn btn-sm btn-danger me-md-2" type="button">{% trans 'delete lawcase' %}</a>
                    <a href="{% url 'legal_advice_builder:law-case-detail' law_case.id %}" class="btn btn-sm btn-primary" type="button">{% trans 'edit lawcase' %}</a>
                </div>
            </div>
        </div>
        {% endfor %}
        <button class="btn btn-primary mx-1 my-3" type="button" data-bs-toggle="modal" data-bs-target="#newLawCaseForm">{% trans 'Add new process' %}</button>
    </div>
</div>

<div class="modal fade" id="newLawCaseForm" tabindex="-1" aria-labelledby="newLawCaseForm" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newQuestionFormLabel">{% trans 'Add new question' %}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="" method="post">
            <div class="modal-body">
            {% csrf_token %}
            {{ form | crispy }}
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Close' %}</button>
            <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
            </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}