{% extends 'legal_advice_builder/admin/base.html' %}
{% load i18n%}

{% block navbar %}
<nav>
    <h1><a href="{% url 'legal_advice_builder:law-case-list' %}"><i class="bi bi-arrow-left"></i></a>{{ lawcase.title }}</h1>
</nav>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-2 bg-light min-vh-100">
        {% block navigation %}
            <ul class="list-group">
                {% for qn in lawcase.questionaire_set.all %}
                    <a class="list-group-item {% if questionaire == qn %}active{% endif %}"
                       href="{% url 'legal_advice_builder:questionaire-detail' qn.id %}">{{ qn }}</a>
                {% endfor %}
                <a href="{% url 'legal_advice_builder:document-detail' lawcase.id %}" class="list-group-item">{% trans 'Template' %}</a>
            </ul>
        {% endblock %}
    </div>
    <div class="col-9 mt-3">
        {% block main_content %}{% endblock %}
    </div>
    <div class="col-1 bg-light min-vh-100"></div>
</div>
{% endblock %}