{% extends 'legal_advice_builder/admin/base.html' %}
{% load i18n crispy_forms_tags %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'legal_advice_builder:law-case-list' %}">{% trans 'All processes' %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"> {{ lawcase.title }}</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-3 col-xxl-2 border-end border-light min-vh-100">
        <div class="pt-3">
        {% block navigation %}
        <div class="card">
            <div class="card-header">
                {% trans 'Questionaires' %}
            </div>
            <ul class="list-group list-group-flush">
                {% for qn in lawcase.questionaire_set.all %}
                <a class="list-group-item {% if questionaire == qn %}active{% endif %}"
                    href="{% url 'legal_advice_builder:questionaire-detail' qn.id %}">{{ qn }}</a>
                {% endfor %}
            </ul>
        </div>

        <div class="card mt-3 ">
            <div class="card-header">
                {% trans 'Document' %}
            </div>
            <ul class="list-group list-group-flush">
                <a href="{% url 'legal_advice_builder:document-detail' lawcase.id %}" class="list-group-item">{% trans 'Template' %}</a>
            </ul>
        </div>
        {% endblock %}
        </div>
    </div>

    <div class="col-8 col-xxl-9 mt-3">
        {% block main_content %}{% endblock %}
    </div>
    <div class="col-1 bg-light min-vh-100"></div>
</div>
{% endblock %}