{% extends 'legal_advice_builder/admin/base.html' %}
{% load i18n crispy_forms_tags %}

{% block navbar %}
<a class="navbar-brand" href="{% url 'legal_advice_builder:law-case-list' %}">
    <i class="bi bi-card-checklist"></i> {% trans 'All forms' %}
</a>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-3 col-xxl-2 min-vh-100"></div>
    <div class="col-8 col-xxl-9 mt-3 mb-3">
        <div class="row row-cols-sm-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100 bg-primary">
                    <button class="btn w-100 h-100 text-white text-uppercase fw-bolder fs-5" type="button"
                        data-bs-toggle="modal" data-bs-target="#newLawCaseForm">
                        <i class="bi bi-plus"></i> {% trans 'new form' %}
                    </button>
                </div>
            </div>
            {% for law_case in object_list %}
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <a href="{% url 'legal_advice_builder:questionaire-detail' law_case.first_questionaire.id %}"
                                class="text-decoration-none text-body">
                                <h5 class="card-title">{{ law_case.title }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{% trans 'type'%}: {{ law_case.document.document_type }}</h6>
                                <p class="card-text">{{ law_case.description }}</p>
                            </a>
                        </div>
                        <div class="card-footer bg-white pe-0 py-0">
                            <div class="row justify-content-between me-0">
                                <div class="col d-flex align-items-center">
                                    <small class="text-muted">
                                        {% blocktranslate count counter=law_case.answer_set.count %}
                                        One answer
                                        {% plural %}
                                        {{ counter }} answers
                                        {% endblocktranslate %}
                                    </small>
                                </div>
                                <div class="col pe-0">
                                    <div class="btn-group float-end">
                                        <button type="button" class="btn btn-link border-start"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a class="dropdown-item" target="_blank"
                                                    href="{% url 'law-case-detail' law_case.id %}"><i class="bi bi-eye"></i> {% trans 'preview' %}</a>
                                            </li>
                                            <li class="dropdown-item" href="#">
                                                <button type="button"
                                                    class="btn btn-link p-0 text-decoration-none text-body w-100 text-start"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#lawcaseModal{{ law_case.id }}">
                                                    {% trans 'edit' %}
                                                </button>
                                            </li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li class="dropdown-item" href="#">
                                                <button type="button"
                                                    class="btn btn-link p-0 text-decoration-none text-body w-100 text-start"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#lawcaseDeleteModal{{ law_case.id }}">
                                                    {% trans 'delete' %}
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% for law_case in object_list %}
<div class="modal fade" id="lawcaseDeleteModal{{ law_case.id }}" tabindex="-1"
    aria-labelledby="lawcaseDeleteModal{{ law_case.id }}Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lawcaseDeleteModal{{ law_case.id }}Label">{% blocktrans with title=law_case.title %} Do you want to delete "{{ title }}"? {% endblocktrans %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-link" data-bs-dismiss="modal">{% trans 'cancel' %}</button>
                        <form action="{% url 'legal_advice_builder:law-case-delete' law_case.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary" value="DELETE">{% trans 'delete' %}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% for law_case_form in update_forms %}
<div class="modal fade" id="lawcaseModal{{ law_case_form.0 }}" tabindex="-1"
    aria-labelledby="lawcaseModal{{ law_case_form.0 }}lLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lawcaseModal{{ law_case.id }}Label">{{ law_case.title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'legal_advice_builder:law-case-edit' law_case_form.0 %}" method="post">
                <div class="modal-body">
                    {% csrf_token %}
                    {{ law_case_form.1 | crispy }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'close' %}</button>
                    <button type="submit" class="btn btn-primary">{% trans 'save' %}</button>
                </div>
        </div>
        </form>
    </div>
</div>
{% endfor %}

<div class="modal fade" id="newLawCaseForm" tabindex="-1" aria-labelledby="newLawCaseForm" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newQuestionFormLabel">{% trans 'Add new question' %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="post">
                <div class="modal-body">
                    {% csrf_token %}
                    {{ form | crispy }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Close' %}</button>
                    <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}