{% extends 'legal_advice_builder/admin/law_case_detail.html' %}
{% load static i18n %}

{% block extra_scripts %}
<script src="{% static 'js/snippets/toggle_form.js' %}"></script>
{% endblock %}

{% block main_content %}
<div class="w-100 h-100 border">
    <div class="bg-light p-3 mb-3 border-bottom">
        <div class="row">
            <div class="col">
                <small>{% trans 'Questionaire' %}</small>
                <h1 class="fs-3">{{ questionaire.title }}</h1>
            </div>
            <div class="col">
                <div class="text-end mt-3">
                    <button class="btn btn-light border btn pull-right" id="showDetailButton" style="display: none;" onclick="showDetail()" type="button"><i class="bi bi-check"></i> {% trans 'done' %}</button>
                    <button class="btn btn-light border btn pull-right" id="showFormButton" onclick="showForm()" type="button"><i class="bi bi-pencil"></i> {% trans 'edit' %}</button>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <div class="row" id="questionaire_detail">
                <div class="col border m-2 p-2">
                    <small>{{ questionaire_update_form.success_message.help_text }}</small>
                    <div class="my-2">
                      <div class="alert alert-success mt-3" role="alert">
                        <div class="mb-3 fw-bold pb-2">Schritt {{ current_step|add:1}} von {{ lawcase.questionaire_count }}: {{ questionaire }} <i class="bi bi-check-lg"></i></div>
                          <div>{{ questionaire.success_message }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="questionaire_form" style="display: none;">
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col m-2 p-2">
                            {% include 'legal_advice_builder/admin/form_field.html' with field=questionaire_update_form.title %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col border m-2 p-2">
                            <small>{{ questionaire_update_form.success_message.help_text }}</small>
                            <div class="my-2">
                                {% include 'legal_advice_builder/admin/form_field.html' with field=questionaire_update_form.success_message %}
                            </div>
                        </div>
                    </div>
                    <div class="text-end mt-3">
                        <input class="btn btn-primary btn pull-right" type="submit" name="questionaire_update" value="{% trans 'Save' %}" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="p-3">
        <h2 class="fs-3">{% trans 'Questions' %}</h2>
        <div class="row">
            <div class="col-4 pe-0" style="margin-top: 2.5rem;">
                <ul class="list-group">
                    {% for question in questionaire.questions %}
                        <a href="{% url 'legal_advice_builder:question-update' question.id %}"
                        class="list-group-item position-relative list-group-item-action border-0 border-bottom border {% if object == question %}active{% endif %}"
                        >
                            <i class="{{ question.icon }}"></i> {{ question.text }}
                            {% if question.has_error %}
                            <span class="badge bg-danger rounded-pill"><i class="bi bi-exclamation-lg"></i></span>
                            {% endif %}
                        </a>
                    {% endfor %}
                    <button class="btn btn-primary mx-1 my-3" type="button" data-bs-toggle="modal" data-bs-target="#newQuestionForm">{% trans 'Add question' %}</button>
                </ul>
            </div>
            <div class="col ps-0 mb-3">
                {% block current_form %}{% endblock %}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="newQuestionForm" tabindex="-1" aria-labelledby="newQuestionFormLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newQuestionFormLabel">{% trans 'Add new question' %}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{% url 'legal_advice_builder:questionaire-detail' questionaire.id %}" method="post">
            <div class="modal-body">
            {% csrf_token %}
            {% include 'legal_advice_builder/admin/form.html' with form=question_create_form %}
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Close' %}</button>
            <button type="submit" name="question_create" class="btn btn-primary">{% trans 'Save' %}</button>
            </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
