{% load i18n %}
{% if form %}
<form method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" />
</form>
{% endif %}

{% if success %}
<div>{{ message }}</div>
<form method="post">
    {% csrf_token %}
    <button>
        <input type="hidden" name="next" value="{{ next.id }}" />
        {% trans 'Next' %}
    </button>
</form>
{% endif %}

{% if failure %}
<div>{{ message }}</div>
{% endif %}

{% if template %}
    {% if law_case.allow_download %}
    <form method="post">
        {% csrf_token %}
        <button>
            <input type="hidden" name="download" value="download" />
            {% trans 'Download' %}
        </button>
    </form>
    {% endif %}
    <p>{{ template | safe }}</p>
{% endif %}

