{% load i18n %}
{% if form %}
<form method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" />
</form>
{% endif %}

{% if success %}
<div>{{ message }}</div>
<form method="post">
    {% csrf_token %}
    <button class="btn btn-primary btn-lg">
        <input type="hidden" name="next" value="{{ next.id }}" />
        {% trans 'Next' %}
    </button>
</form>
{% endif %}

{% if failure %}
<div>{{ message }}</div>
{% endif %}

{% if template %}
<a href="?download=1">download</a>
<p>{{ template | safe }}</p>
{% endif %}

